configuration {
    modes: "drun";
    font: "JetBrains Mono 12";
    show-icons: true;
    display-drun: "Applications";
    drun-display-format: "{name}";
    disable-history: false;
    hide-scrollbar: false;
    sidebar-mode: false;
}
@theme "Arc-Dark"
